# Compiled go library
dj-server
dj-server.exe
back/go_stuff/cookies.txt

# Local downloads.
*.mp3
*.wav
*.jpg
*.heic
*.png
*.webp

# API Keys, temporary files
.env
back/plot.md
front/themes
sessions
vemenichy-bin
themes-old
